.logo {
    width: 30px;
    height: auto;
}

// aplique extend
.header {
    background-image: url("../img/portada_recetas.jpg");
    background-size: cover;
    background-position: center;
    height: 20rem;
}

.header-sobremi {
    @extend .header;
    background-image: url("../img/portada_sobremi.jpg");
}

.header-contacto {
    @extend .header;
    background-image: url("../img/portada_contacto2.jpg");
    background-position: top;
}

.header-recetas {
    @extend .header;
    background-image: url("../img/portada_recetas2.jpg");
}

.header-preguntas {
    @extend .header;
    background-image: url("../img/portada_preguntas.jpg");
}