$pink: #bb8588;
$pink-light: #d8a48f;

// aplique mixins
@mixin button ($background-color, $border-color, $color) {
    background-color: $background-color;
    border-color: $border-color;
    color: $color;
}


.btn-info {
    @include button($pink-light, $pink-light, white);
    &:hover {
        @include button($pink, $pink, white )
    }
}

