// aplique mapa
$styles: (
    verde: $green,
    centro: center,
    small: 1rem,
);

section {
    div {
        color: map-get($styles,verde);
        font-size: map-get($styles, small);
        text-align: map-get($styles, center );
        a {
            &:hover {
                text-decoration: none;
            }
        }
        
    }
}

.card-header {
    background-color: $green-light;
    color: $green;
}

.card-display {
    transition: all 1s;
    &:hover {
        transform: scale(1.1);  
        box-shadow: 5px 5px 19px 1px rgba(0,0,0,0.10);
        border-color: transparent;
    }
}

