// aplique mapa
$styles: (
    verde: $green,
    centro: center,
    small: 1rem,
);

section {
    div {
        color: map-get($styles,verde);
        font-size: map-get($styles, small);
        text-align: map-get($styles, center );
    }
}

.card-display {
    transition: all 1s;
    &:hover {
        transform: scale(1.1);  
    }
}

